$backgroundColor: #EFF2F7;
$backgroundHeader: #003097;
$backgroundTestimonials: #D39101;
$backgroundLastPic: #058C78;

$maxWidth: 1440px;

$logoWidth: 180.83px;
$logoHeight: 40px;

$maxWidthColLeftHeader: 608px;
$maxWidthColRightHeader: 576px;