@import './variables';
@import './mobile';

@mixin setUpContainer($backgroundCol) {
    background: $backgroundCol;
}

@mixin flexinColumn(){
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin flexinRow(){
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-between;
}

@mixin setFont($fontStyle, $fontWeight, $fontSize, $lineHeight, $letterSpacing, $color){
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
}

@font-face {
    font-family: "CustomGraphik";
    src: 
         url('./fonts/Graphik-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Graphik-300.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/Graphik-300.ttf')  format('truetype'), /* Safari, Android, iOS */
         
    
}

body{
    font-family: CustomGraphik;
    margin: 0px;
}


#main{
    background: $backgroundColor;
    max-width: $maxWidth;
    margin: auto;
}

header{
    @include setUpContainer($backgroundHeader);
    padding-left: 50px;
    padding-top: 50px;
}

.logo{
    width: $logoWidth;
    height: $logoHeight;
}

.marginRight{
    margin-right: 15px;
}

.generalInfo{
    @include setUpContainer($backgroundHeader);
    padding: 60px 102px 63px 100px;
    .mainInfo{
        @include flexinColumn();
        max-height: 500px;
        margin-bottom: 70px;
    }
    .mainInfoElement:nth-child(1){
        max-width: $maxWidthColLeftHeader;
        @include setFont(normal, 300, 64px, 80px, 0.4px, #FFFFFF);
        margin-top: -64px;
        
    }
    .mainInfoElement:nth-child(2){
        max-width: $maxWidthColLeftHeader;
        @include setFont(normal, normal, 24px, 36px, -0.3px, #FFFFFF);
        margin-top: -12px;
    }
    .mainInfoElement:nth-child(3){
        max-width: $maxWidthColLeftHeader;
    }
    .mainInfoElement:nth-child(4){
        max-width: $maxWidthColRightHeader; 
    }
    .picPeopleWalkingHeader{
        max-width: $maxWidthColRightHeader;
        max-height: 440px;   
    }
    .button1{
        background: #DC3367;
        width: 198px;
        height: 52px;
        border-radius: 4px;
        @include setFont(normal, normal, 16px, 18px, 0.0888889px, #FFFFFF);
        text-align: center;
        margin-right: 23px;
    }
    .button2{
        width: 198px;
        height: 52px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        @include setFont(normal, normal, 16px, 18px, 0.0888889px, #003097);
        text-align: center;
    }
    .customersHeader{
        @include flexinRow()
    }
    .simpleFont{
        @include setFont(normal, normal, 14px, 15px, auto, #FFFFFF);
        mix-blend-mode: normal;
        opacity: 0.9;
    }

    @media all and (max-width: $mobileResolution) {
        padding: 35px 30px 30px 35px;
        .mainInfo{
            max-height: 1150px;
        }
        .mainInfoElement:nth-child(1){
            order: 0;
            max-width: $maxWidthElementsMobile;
            @include setFont(normal, 300, 44px, 52px, 0.115789px, #FFFFFF);
            margin-top: -44px;
        }

        .mainInfoElement:nth-child(2){
            order: 4;
            max-width: $maxWidthElementsMobile;
            @include setFont(normal, normal, 20px, 30px, -0.1px, #FFFFFF);
            margin-top: -12px;
        }
        .mainInfoElement:nth-child(3){
            order: 4;
            max-width: $maxWidthElementsMobile;
             
        }
        .picPeopleWalkingHeader{
            max-width: 294px;
            max-height: 225px;   
        }
        .mainInfoElement:nth-child(4){
            order: 1;
            max-width: 294px; 
        }
        .button1{
            background: #DC3367;
            width: $maxWidthElementsMobile;
            height: 52px;
            border-radius: 4px;
            @include setFont(normal, normal, 16px, 18px, 0.0888889px, #FFFFFF);
            text-align: center;
            margin-bottom: 15px;
        }
        .button2{
            width: $maxWidthElementsMobile;
            height: 52px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            @include setFont(normal, normal, 16px, 18px, 0.0888889px, #003097);
            text-align: center;
        }
        .customersHeader{
            display: flex;
            flex-flow: row wrap;  
            justify-content: center;
            padding: 7px;
        }
        .customerElement{
            margin: 7px;
        }
        .picCustomerLogo{
            max-width: 80px;
        }
        
    }
    
}

.listBenefits{
    padding: 120px 90px 88px 102px;
    .soPerky{
        @include setFont(normal, 300, 54px, 70px, 0.35px, #003097);
        margin-top: 0px;
        margin-bottom: 52px;
    }
    .picPeopleWalking{
        max-width: 606px;
        max-height: 460px;
        
    }
    .benefits-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .listBene {
        list-style: none;
        counter-reset: item;
        li {
            counter-increment: item;
            &:before {
                margin-right: 13px;
                content: counters(item, ".") ". ";
                display: inline-block;
                color: #003097;
            }
            @include setFont(normal, normal, 24px, 36px, -0.3px, #000000);
        }
     }
    @media all and (max-width: $mobileResolution) {
        padding: 50px 30px 60px 35px;
        .soPerky{
            @include setFont(normal, 300, 38px, 48px, 0.1px, #003097);
            margin-top: 0px;
            margin-bottom: 35px;
        }
        .picPeopleWalking{
            max-width: 294px;
            max-height: 225px;
            
        }
        .benefits-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .listBene {
            list-style: none;
            counter-reset: item;
            li {
                counter-increment: item;
                &:before {
                    margin-right: 13px;
                    content: counters(item, ".") ". ";
                    display: inline-block;
                    color: #003097;
                }
                @include setFont(normal, normal, 16px, 30px, auto, #000000);               
            }
         }
    }
}

.testimonials{
    @include setUpContainer($backgroundTestimonials);
    padding: 103px 94px 117px 92px;
    .testimonialsDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .picTestimonialsHer{  
        max-width: $maxWidthTestimonialsHer;
        max-height: $maxWidthTestimonialsHer;
    }
    
    .picTestimonialsHim{  
        max-width: $maxWidthTestimonialsHim;
        max-height: $maxWidthTestimonialsHim;
    }
    .leftCol{
        max-width: $maxWidthTestimonialsHer;
        order: 1;
    }
    .rightCol{
        margin-top: 15px;
        max-width: $maxWidthTestimonialsHim;
        order: 2;
    }
    .textTestimonialsBig{
        @include setFont(normal, normal, 24px, 36px, -0.3px, #FFFFFF);
    }
    .textNameTestimonials{
        @include setFont(normal, 500, 16px, 18px, 0.1px, #FFFFFF);
    }
    .textPositionTestimonials{
        @include setFont(normal, normal, 16px, 26px, auto, #FFFFFF);
    }
    @media all and (max-width: $mobileResolution) {
        padding: 51px 32px 62px 32px;
        .testimonialsDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
        }
        
        .picTestimonialsHer{  
            max-width: $maxWidthElementsMobile;
            max-height: $maxWidthElementsMobile;
        }
        
        .picTestimonialsHim{  
            max-width: $maxWidthElementsMobile;
            max-height: $maxWidthElementsMobile;
        }
    
        .leftCol{
            max-width: $maxWidthElementsMobile;
            order: 1;
        }
        .rightCol{
            max-width: $maxWidthElementsMobile;
            order: 2;
        }
        .textTestimonialsBig{
            @include setFont(normal, normal, 16px, 26px, auto, #FFFFFF);
        }
        .textNameTestimonials{
            @include setFont(normal, 600, 16px, 26px, auto, #FFFFFF);
        }
        .textPositionTestimonials{
            @include setFont(normal, normal, 16px, 26px, auto, #FFFFFF);
        }
    }
}

.customers{
    padding: 108px 92px 108px 94px;
    .mosaic{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        padding:12px;
    }
    .FirstItemMosaic{
        background: #003097;
        width: 398.07px;
        height: 184.11px;
        margin:12px;
        
        
    }
    .joinText{
        @include setFont(normal, normal, 22px, 30px, -0.1px, #FFFFFF);
    }
    .itemMosaic{
        width: 186px;
        height: 83.19px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin:12px;
        mix-blend-mode: normal;
        opacity: 0.4;
        text-align: center;
                
    }
    
    .img-centered{
        //padding-top: 12px;
    }

    @media all and (max-width: $mobileResolution){
        padding: 50px 31px 60px 33px;
        .mosaic{
            display: flex;
            flex-flow: row wrap;
            padding:0px;
        }
        .FirstItemMosaic{
            background: #003097;
            width: $maxWidthElementsMobile;
            height: 160px;
            margin: 0px;
            margin-bottom:20px;
        }
    
        .itemMosaic{
            width: 140px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            margin:0px;
            display: none;
         }
         .itemMosaic:nth-child(2){
             display: unset;
             order:1;
             margin: 0px 5px 8px 0px;
         }
         .itemMosaic:nth-child(3){
            display: unset;
            order:2;
            margin: 0px 0px 8px 5px;
        }
        .itemMosaic:nth-child(7){
            display: unset;
            order:3;
            margin: 0px 5px 0px 0px;
        }
        .itemMosaic:nth-child(8){
            display: unset;
            order:4;
            margin: 0px 0px 0px 5px;
        }
}
}

.lastPic{
    @include setUpContainer($backgroundLastPic);
    padding: 80px 103px 80px 102px;
   .pictureTalking{
       display: flex;
   }
    .picPeopleTalking{
         max-width: 1235px;
         max-height: 660px;
   }
   @media all and (max-width: $mobileResolution) {
        padding: 45px 32px 45px 32px;
    
        .picPeopleTalking{
            max-width: $maxWidthElementsMobile;
            max-height: 200px;
            width: $maxWidthElementsMobile;
            height: 200px;
        } 
    }  
}
#jsSection{
    @include setUpContainer($backgroundTestimonials);
    padding: 90px 90px 88px 102px;
}

#footerIndex{
    .footerIn{
        @include flexinRow();
        padding: 46px 18px 38px 82px;
    }
    .leftColFoot{
        display: flex;
        flex-flow: row wrap;
    }
    .smallLogo{
        text-align: center;
        padding: 5px 0px 0px 0px;
    }
    .copyright{
        padding: 0px 0px 0px 20px;
        @include setFont(normal, normal, 13px, 20px, 0.3px, #000000);
    }
    .all-rights{
        padding: 0px 0px 0px 5px;
        @include setFont(normal, normal, 13px, 20px, 0.3px, #000000);
    }
    .links{
        @include flexinRow();
        @include setFont(normal, normal, 13px, 20px, 0.3px, #003097);
    }

    @media all and (max-width: $mobileResolution) {
        .footerIn{
            display: flex;
            flex-flow: column wrap;
            padding: 30px 32px 28px 32px;
        }
        .links{
            order: 0;
        }
        .leftColFoot{
            order: 1;
            flex-flow: column wrap;
        }
        .all-rights{
            display: none;
        }
        .smallLogo{
            order: 3;
            text-align: left;
            padding: 5px 0px 0px 0px;
        }
        .copyright{
            padding: 0px 0px 0px 0px;
        }
    }
}



