@font-face {
  font-family: "CustomGraphik";
  src: url("./fonts/Graphik-300.woff2") format("woff2"), url("./fonts/Graphik-300.woff") format("woff"), url("./fonts/Graphik-300.ttf") format("truetype");
}

body {
  font-family: CustomGraphik;
  margin: 0px;
}

#main {
  background: #EFF2F7;
  max-width: 1440px;
  margin: auto;
}

header {
  background: #003097;
  padding-left: 50px;
  padding-top: 50px;
}

.generalInfo {
  background: #003097;
}

.logo {
  width: 180.83px;
  height: 40px;
}

.listBene {
  list-style: none;
  counter-reset: item;
}

.listBene li {
  counter-increment: item;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
}

.listBene li:before {
  margin-right: 13px;
  content: counters(item, ".") ". ";
  display: inline-block;
  color: #003097;
}

.listBenefits {
  padding: 120px 90px 88px 102px;
}

.listBenefits .soPerky {
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: 0.35px;
  color: #003097;
  margin-top: 0px;
  margin-bottom: 52px;
}

.listBenefits .peopleWalking {
  max-width: 606px;
  max-height: 460px;
}

.listBenefits .benefits-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listBenefits .listBene {
  list-style: none;
  counter-reset: item;
}

.listBenefits .listBene li {
  counter-increment: item;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
}

.listBenefits .listBene li:before {
  margin-right: 13px;
  content: counters(item, ".") ". ";
  display: inline-block;
  color: #003097;
}

@media all and (max-width: 1200px) {
  .listBenefits {
    padding: 50px 30px 60px 35px;
  }
  .listBenefits .soPerky {
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.1px;
    color: #003097;
    margin-top: 0px;
    margin-bottom: 35px;
  }
  .listBenefits .peopleWalking {
    max-width: 294px;
    max-height: 225px;
  }
  .listBenefits .benefits-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .listBenefits .listBene {
    list-style: none;
    counter-reset: item;
  }
  .listBenefits .listBene li {
    counter-increment: item;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  .listBenefits .listBene li:before {
    margin-right: 13px;
    content: counters(item, ".") ". ";
    display: inline-block;
    color: #003097;
  }
}

.testimonials {
  background: #D39101;
  padding: 103px 94px 117px 92px;
}

.testimonials .testimonials-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .testimonials-her {
  max-width: 526px;
  max-height: 526px;
}

.testimonials .testimonials-him {
  max-width: 517px;
  max-height: 517px;
}

.testimonials .leftCol {
  max-width: 526px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.testimonials .rightCol {
  margin-top: 15px;
  max-width: 517px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.testimonials .text-testimonials-big {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.testimonials .text-name-testimonials {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.testimonials .text-position-testimonials {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  .testimonials {
    padding: 51px 32px 62px 32px;
  }
  .testimonials .testimonials-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials .testimonials-her {
    max-width: 296px;
    max-height: 296px;
  }
  .testimonials .testimonials-him {
    max-width: 296px;
    max-height: 296px;
  }
  .testimonials .leftCol {
    max-width: 526px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .testimonials .rightCol {
    max-width: 517px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .testimonials .text-testimonials-big {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .testimonials .text-name-testimonials {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .testimonials .text-position-testimonials {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}

.customers {
  padding: 108px 92px 108px 94px;
}

.customers .mosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 12px;
}

.customers .first-item-mosaic {
  background: #003097;
  width: 398.07px;
  height: 184.11px;
  margin: 12px;
}

.customers .item-mosaic {
  width: 186px;
  height: 83.19px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 12px;
}

@media all and (max-width: 360px) {
  .customers {
    padding: 50px 31px 60px 33px;
  }
  .customers .mosaic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 0px;
  }
  .customers .first-item-mosaic {
    background: #003097;
    width: 296px;
    height: 160px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .customers .item-mosaic {
    width: 140px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0px;
  }
}

.lastPic {
  background: #058C78;
  padding: 80px 103px 80px 102px;
}

.lastPic .pictureTalking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lastPic .people-talking {
  max-width: 1235px;
  max-height: 660px;
}

@media all and (max-width: 360px) {
  .lastPic {
    padding: 45px 32px 45px 32px;
  }
  .lastPic .people-talking {
    max-width: 296px;
    max-height: 200px;
    width: 296px;
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */