@import './variables';

@mixin setUpContainer($backgroundCol) {
    background: $backgroundCol;
}


@font-face {
    font-family: "CustomGraphik";
    src: 
         url('./fonts/Graphik-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/Graphik-300.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/Graphik-300.ttf')  format('truetype'), /* Safari, Android, iOS */
         
    
}

body{
    font-family: CustomGraphik;
    margin: 0px;
}


#main{
    background: $backgroundColor;
    max-width: 1440px;
    margin: auto;
}

header{
    @include setUpContainer($backgroundHeader);
    padding-left: 50px;
    padding-top: 50px;
}

.generalInfo{
    @include setUpContainer($backgroundHeader);
    padding: 60px 102px 63px 100px;
    .mainInfo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 500px;
        justify-content: space-between;
        margin-bottom: 70px;
        // align-items: flex-start;
    }
    .mainInfoElement:nth-child(1){
        max-width: 608px;
        //max-height: 160px;
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0.4px;
        color: #FFFFFF;
        margin-top: -64px;
        
    }
    .mainInfoElement:nth-child(2){
        max-width: 608px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
        margin-top: -12px;
    }
    .mainInfoElement:nth-child(3){
        max-width: 608px;
        //max-height: 55px; 
    }
    .mainInfoElement:nth-child(4){
        max-width: 576px; 
    }
    .peopleWalkingHeader{
        max-width: 576px;
        max-height: 440px;   
    }
    .button1{
        background: #DC3367;
        width: 198px;
        height: 52px;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.0888889px;
        margin-right: 23px;
        color: #FFFFFF;
    }
    .button2{
        width: 198px;
        height: 52px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.0888889px;

        color: #003097;
    }
    .customersHeader{
        display: flex;
        flex-flow: row wrap;  
        justify-content: space-between;
    }
    .simpleFont{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;

        color: #FFFFFF;

        mix-blend-mode: normal;
        opacity: 0.9;
    }

    @media all and (max-width: 1200px) {
        padding: 35px 30px 30px 35px;
        .mainInfo{
            max-height: 1150px;
        }
        .mainInfoElement:nth-child(1){
            order: 0;
            max-width: 296px;
            font-style: normal;
            font-weight: 300;
            font-size: 44px;
            line-height: 52px;
            letter-spacing: 0.115789px;
            color: #FFFFFF;
            margin-top: -44px;
        }

        .mainInfoElement:nth-child(2){
            order: 4;
            max-width: 296px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.1px;

            color: #FFFFFF;
            margin-top: -12px;
        }
        .mainInfoElement:nth-child(3){
            order: 4;
            max-width: 296px;
            //max-height: 55px; 
        }
        .peopleWalkingHeader{
            max-width: 294px;
            max-height: 225px;   
        }
        .mainInfoElement:nth-child(4){
            order: 1;
            max-width: 294px; 
        }
        .button1{
            background: #DC3367;
            width: 296px;
            height: 52px;
            border-radius: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.0888889px;
            margin-bottom: 15px;
            color: #FFFFFF;
        }
        .button2{
            width: 296px;
            height: 52px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.0888889px;
    
            color: #003097;
        }
        .customersHeader{
            display: flex;
            flex-flow: row wrap;  
            justify-content: center;
            padding: 7px;
        }
        .customerElement{
            margin: 7px;
        }
        .customerLogo{
            max-width: 80px;
        }
        
    }
    
}

.logo{
    width: 180.83px;
    height: 40px;
}

.listBene {
    list-style: none;
    counter-reset: item;
    li {
        counter-increment: item;
        &:before {
            margin-right: 13px;
            content: counters(item, ".") ". ";
            display: inline-block;
            color: #003097;
        }
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.3px;

    }
 }

.listBenefits{
    padding: 120px 90px 88px 102px;
    .soPerky{
        font-style: normal;
        font-weight: 300;
        font-size: 54px;
        line-height: 70px;
        letter-spacing: 0.35px;
        color: #003097;
        margin-top: 0px;
        margin-bottom: 52px;
    }
    .peopleWalking{
        max-width: 606px;
        max-height: 460px;
        
    }
    .benefits-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .listBene {
        list-style: none;
        counter-reset: item;
        li {
            counter-increment: item;
            &:before {
                margin-right: 13px;
                content: counters(item, ".") ". ";
                display: inline-block;
                color: #003097;
            }
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.3px;
    
        }
     }
    @media all and (max-width: 1200px) {
        padding: 50px 30px 60px 35px;
        .soPerky{
            font-style: normal;
            font-weight: 300;
            font-size: 38px;
            line-height: 48px;
            letter-spacing: 0.1px;
            color: #003097;
            margin-top: 0px;
            margin-bottom: 35px;
        }
        .peopleWalking{
            max-width: 294px;
            max-height: 225px;
            
        }
        .benefits-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .listBene {
            list-style: none;
            counter-reset: item;
            li {
                counter-increment: item;
                &:before {
                    margin-right: 13px;
                    content: counters(item, ".") ". ";
                    display: inline-block;
                    color: #003097;
                }
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                
        
            }
         }
    }
}

.testimonials{
    @include setUpContainer($backgroundTestimonials);
    padding: 103px 94px 117px 92px;
    .testimonials-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .testimonials-her{  
        max-width: 526px;
        max-height: 526px;
    }
    
    .testimonials-him{  
        max-width: 517px;
        max-height: 517px;
    }
    .leftCol{
        max-width: 526px;
        order: 1;
    }
    .rightCol{
        margin-top: 15px;
        max-width: 517px;
        order: 2;
    }
    .text-testimonials-big{
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
    }
    .text-name-testimonials{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }
    .text-position-testimonials{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
    }
    @media all and (max-width: 700px) {
        padding: 51px 32px 62px 32px;
        .testimonials-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
        }
        
        .testimonials-her{  
            max-width: 296px;
            max-height: 296px;
        }
        
        .testimonials-him{  
            max-width: 296px;
            max-height: 296px;
        }
    
        .leftCol{
            max-width: 526px;
            order: 1;
        }
        .rightCol{
            max-width: 517px;
            order: 2;
        }
        .text-testimonials-big{
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
        .text-name-testimonials{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
        .text-position-testimonials{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }
}





.customers{
    padding: 108px 92px 108px 94px;
    .mosaic{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        padding:12px;
    }
    .first-item-mosaic{
        background: #003097;
        width: 398.07px;
        height: 184.11px;
        margin:12px;
        
        
    }
    .join{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        /* or 136% */
        letter-spacing: -0.1px;

        color: #FFFFFF;
    }
    .item-mosaic{
        width: 186px;
        height: 83.19px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin:12px;
        mix-blend-mode: normal;
        opacity: 0.4;
        text-align: center;
                
    }
    
    .img-centered{
        //padding-top: 12px;
    }

    @media all and (max-width: 560px){
        padding: 50px 31px 60px 33px;
        .mosaic{
            display: flex;
            flex-flow: row wrap;
            padding:0px;
        }
        .first-item-mosaic{
            background: #003097;
            width: 296px;
            height: 160px;
            margin: 0px;
            margin-bottom:20px;
        }
    
        .item-mosaic{
            width: 140px;
            height: 60px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            margin:0px;
            display: none;
         }
         .item-mosaic:nth-child(2){
             display: unset;
             order:1;
             margin: 0px 5px 8px 0px;
         }
         .item-mosaic:nth-child(3){
            display: unset;
            order:2;
            margin: 0px 0px 8px 5px;
        }
        .item-mosaic:nth-child(7){
            display: unset;
            order:3;
            margin: 0px 5px 0px 0px;
        }
        .item-mosaic:nth-child(8){
            display: unset;
            order:4;
            margin: 0px 0px 0px 5px;
        }
}
}

.lastPic{
    @include setUpContainer($backgroundLastPic);
    padding: 80px 103px 80px 102px;
   .pictureTalking{
       display: flex;
       
   }
    .people-talking{
         max-width: 1235px;
         max-height: 660px;
   }
   @media all and (max-width: 360px) {
        padding: 45px 32px 45px 32px;
    
        .people-talking{
            max-width: 296px;
            max-height: 200px;
            width: 296px;
            height: 200px;
        } 
    }  
}

#footerIndex{
    .footerIn{
        display: flex;
        flex-flow: row wrap;
        padding: 46px 18px 38px 82px;
        justify-content: space-between;
    }
    .leftColFoot{
        display: flex;
        flex-flow: row wrap;
    }
    .smallLogo{
        text-align: center;
        padding: 5px 0px 0px 0px;
    }
    .copyright{
        padding: 0px 0px 0px 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #000000;
    }
    .all-rights{
        padding: 0px 0px 0px 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #000000;
    }
    .links{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #003097;
    }

    @media all and (max-width: 660px) {
        .footerIn{
            display: flex;
            flex-flow: column wrap;
            padding: 30px 32px 28px 32px;
            //justify-content: space-between;
        }
        .links{
            order: 0;
        }
        .leftColFoot{
            order: 1;
            flex-flow: column wrap;
        }
        .all-rights{
            display: none;
        }
        .smallLogo{
            order: 3;
            text-align: left;
            padding: 5px 0px 0px 0px;
        }
        .copyright{
            padding: 0px 0px 0px 0px;
        }
    }
}


.marginRight{
    margin-right: 15px;
}
